################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/HttpClient78/.vs
/HttpClient78/obj
/Test78/bin/Debug/net6.0
/Test78/obj
/HttpClient78/bin/Debug/net6.0
